html{
    font-size: 10px;
}
body{
    font-size: 1.6rem;
    font-family: 'Inika', Verdana;
}

:root {
    --bg-color: #EDF2EC;
    --button-text-color: #E06733;
    --button-border-color:#E06733;
    --button-active-color:#E06733;
    --selection-main-color: #499A18;
    --selection-second-color: #E06733;
    --main-text-color:#000000;
    --annotation-text-color:#636060;
  }
  .header{
    background: var(--bg-color);
    padding: 42px 111x 42px 109px;
  }
   .header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
   }
   .navigation{
    display: flex;
    
    font-family: inika;
    font-weight: 400;
    font-style:normal;
    font-size: 1.6rem;
    line-height: 2.5rem;
 }
 .navigation__link{
    list-style: none;
    padding: 0 23px;
    cursor: pointer;
 }
  